/* 헤더 영역 */
.header {
  display: flex;
  align-items: center;
  width: 960px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

/* 로고 */
.logo {
  flex: 1; /* 왼쪽 공간을 차지 */
  text-align: left; /* 왼쪽 정렬 */
}

/* 로그인 타이틀 */
.login_header {
  flex: 1; /* 가운데 공간을 차지 */
  text-align: center; /* 가운데 정렬 */
  font-size: 24px;
  font-weight: 700;
}

/* 회원가입 링크 */
.join_header {
  flex: 1; /* 오른쪽 공간을 차지 */
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
}

/* 회원가입 버튼 */
.join_wrap {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 88px;
  height: 38px;
  border: solid 1px #ebebeb;
  border-bottom-color: #d8d8d8;
  border-right-color: #d8d8d8;
  border-radius: 3px;
  background-color: #fff;
}

/* 회원가입 텍스트 */
.join_txt {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}
